{% extends "dashboard/investor/base_investor.html.twig" %}


{% block body %}

    <div class="container-fluid py-4">

        <h1>Positions : {{ date }}</h1>
            <div class="row mt-4">

                {% for position in positions %}

                    <div class="col-sm-12 col-md-6 col-lg-4 pt-2">
                        <div class="card" style="border: 1px solid rgba(37, 106, 154, 1);">
                            <div class="card-header">
                                <strong>{{ position.name }} </strong>
                                <br/>
                                {% if position.activeRight  %}
                                    {{ position.action }} {{ position.activeLeft }} / {{ position.activeRight }} at CMP - {{ position.price }}
                                {% else %}
                                    {{ position.action }} {{ position.activeLeft }}  at CMP - {{ position.price }}
                                {% endif %}

                            </div>
                            <div class="card-body">
                                <p>✅ TP1: {{ position.tp1 }}</p>
                                <p>✅ TP2: {{ position.tp2 }}</p>
                                <p>✅ TP3: {{ position.tp3 }}</p>
                                <p>✅ TP4: {{ position.tp4 }}</p>
                                <p>❌  SL: {{ position.stopLoss }}</p>
                            </div>
                            <div class="card-footer">
                                <p>Published at {{ position.publishedAt | date('d-M-Y') }}</p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

    </div>


{% endblock %}