{% extends "dashboard/investor/base_investor.html.twig" %}


{% block body %}

    <div class="container-fluid py-4">

        <h1>Our Actual Positions</h1>
            <div class="row mt-4">

        {% for position in positions %}

                <div class="col-lg-3 mt-3">
                <div class="card bg-white tilt" data-tilt="" style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                    <div class="card-header pb-0 p-3">
                    <div class="d-flex align-items-center">
                        <h6 class="mb-0 text-uppercase">{{position.name}}</h6>
                    
                    </div>
                    </div>
                    <div class="card-body p-3">
                    <div class="row">
                        <div class="col-12">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                            <tbody>
                                <tr>
                                <td>
                                    <div class="d-flex px-2 py-0">
                                    <span class="badge bg-success me-3"> </span>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm ">Sell at</h6>
                                    </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-xs font-weight-bold  "> {{position.sellAt}} </span>
                                </td>
                                </tr>
                                <tr>
                                <td>
                                    <div class="d-flex px-2 py-0">
                                    <span class="badge bg-gradient-info me-3"> </span>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm ">Target price 1</h6>
                                    </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-xs font-weight-bold "> {{position.tp1}} </span>
                                </td>
                                </tr>
                                <tr>
                                <td>
                                    <div class="d-flex px-2 py-0">
                                    <span class="badge bg-gradient-info me-3"> </span>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm ">Target price 2</h6>
                                    </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-xs font-weight-bold "> {{position.tp2}} </span>
                                </td>
                                </tr>
                                <tr>
                                <td>
                                    <div class="d-flex px-2 py-0">
                                    <span class="badge bg-danger me-3"> </span>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm ">Stop loss</h6>
                                    </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-xs font-weight-bold "> {{position.stopLoss}} </span>
                                </td>
                                </tr>
                                
                            </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

        {% endfor %}
            </div>

    </div>


{% endblock %}