<div class="modal fade" id="modal-form-add-line" tabindex="-1" role="dialog" aria-labelledby="modal-form-line" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left d-flex justify-content-between">
                        <h3 class="font-weight-bolder text-info text-gradient">Add a line</h3>
                        <button type="button" class="btn-close text-black" data-bs-dismiss="modal" aria-label="Close" style="color: black !important;">
                            <span aria-hidden="true" class="text-black">&times;</span>
                        </button>
                    </div>
                    <div class="card-body">
                        {{ form_start(formLine) }}
                        <div class="mb-3">
                            {{ form_label(formLine.name) }}
                            {{ form_widget(formLine.name) }}
                            <div class="form-error" id="modal-form-add-line">
                                {{ form_errors(formLine.name) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info" id="buttonAddLine">Add</button>
                        <button class="btn btn-info" type="button" disabled style="display: none;color: white;" id="buttonSpinnerLine">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="color: white;"></span>
                            Loading...
                        </button>
                        {{ form_end(formLine) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const buttonAddLine = document.getElementById('buttonAddLine');
    const buttonSpinnerLine = document.getElementById('buttonSpinnerLine');


    if(buttonAddLine)
    {
        buttonAddLine.addEventListener('click', () => {
            buttonAddLine.style.display = 'none';
            buttonSpinnerLine.style.display = 'initial';
        });
    }
</script>