{% extends "admin/base_admin.html.twig" %}

{% block body %}
    <div class="container-fluid py-4">
        <div class="row">
            {% include "shared/_messages_flash.html.twig" %}
            <div class="col-12 mb-3">
                <a class="btn btn-dark" href="{{ path('admin_subscription_list') }}"><i class="fas fa-arrow-left"></i> Return</a>
            </div>
            <div class="col-12">
                <div class="card card-frame">
                    <div class="card-header">
                        <h3><i class="fas fa-plus-circle"></i> Add a subscription</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}

                        {{ form_row(form.name) }}
                        {{ form_row(form.subTitle)}}
                        {{ form_row(form.price) }}
                        {{ form_row(form.image)}}

                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.keyPoint_id) }}
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <a class="btn btn-dark" href=" {{path('subscription_key_point_index')}}" >Manage Key point</a>
                            </div>

                        </div>
                        {{form_row(form.description)}}
                        {{form_row(form.shortDescription)}}


                        <button type="submit" class="btn btn-info" id="buttonValid">Save</button>
                        <button class="btn btn-info" type="button" disabled style="display: none;color: white;" id="buttonSpinner">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="color: white;"></span>
                            Loading...
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}