{% extends "admin/base_admin.html.twig" %}

{% block body %}
    <div class="container-fluid py-4">
        <div class="row">
            {% include "shared/_messages_flash.html.twig" %}
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5>Subscription</h5>
                        <a class="btn btn-dark" href="{{ path('admin_subscription_create') }}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    <div class="card-body">
                        {% if subs | length > 0 %}
                            <div class="row">
                            {% for sub in subs %}
                                <div class="col-md-4 mb-4">
                                    <div class="card card-pricing">
                                        <div class="card-header bg-gradient-dark text-center pt-4 pb-5 position-relative">
                                            <div class="z-index-1 position-relative">
                                                <h5 class="text-white">{{ sub.name }}</h5>
                                                <h1 class="text-white mt-2 mb-0">
                                                    {{ sub.price | priceInEuros }}
                                                </h1>
                                                <h6 class="text-white">monthly</h6>
                                            </div>
                                        </div>
                                        <div class="position-relative mt-n5" style="height: 50px;">
                                            <div class="position-absolute w-100">
                                                <svg class="waves waves-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                                                    <defs>
                                                        <path id="card-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                                                    </defs>
                                                    <g class="moving-waves">
                                                        <use xlink:href="#card-wave" x="48" y="-1" fill="rgba(255,255,255,0.30"></use>
                                                        <use xlink:href="#card-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                                                        <use xlink:href="#card-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                                                        <use xlink:href="#card-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                                                        <use xlink:href="#card-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                                                        <use xlink:href="#card-wave" x="48" y="16" fill="rgba(255,255,255,0.99)"></use>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="card-body text-center">
                                            <ul class="list-unstyled max-width-300 mx-auto">

                                                {% for keyPoints in sub.keyPoints %}


                                                    <li>
                                                        <i class="fas fa-check text-success text-sm"></i>
                                                        <b>{{keyPoints}}</b>


                                                        <hr class="horizontal dark">
                                                    </li>


                                                {% endfor %}




                                            </ul>
                                            <a href="{{ path('admin_subscription_edit',{'id': sub.id}) }}" class="btn bg-gradient-dark w-100 mt-4 mb-0">
                                                Edit Subscription
                                            </a>

                                            <div class="options-subscription-btn d-flex justify-content-center mt-3">

                                                {% if sub.isActive is same as false  %}

                                                    <a href=" {{path('admin_subscription_activate', {'id' : sub.id})}} " class="btn bg-gradient-success me-3" title="Active and display subscription or users">unActivated</a>

                                                {% else %}

                                                    <a href=" {{path('admin_subscription_unactivate', {'id' : sub.id})}} " class="btn bg-gradient-danger me-3" title="Unactive and undisplay subscription or users">Activated</a>

                                                {% endif %}

                                                {% if sub.isMain is same as false %}

                                                    <a href=" {{path('admin_subscription_isMain', {'id' : sub.id})}} " class="btn bg-gradient-warning">isNormal</a>

                                                {% else %}

                                                    <a href=" {{path('admin_subscription_isNormal', {'id' : sub.id})}} " class="btn bg-gradient-info">isMain</a>


                                                {% endif %}


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        {% else %}
                            <p>No subscription</p>
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}