{% extends "admin/base_admin.html.twig" %}

{% block body %}

    <div class="container-fluid py-4">
        <div class="row">
            {% include "shared/_messages_flash.html.twig" %}
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5>Position</h5>
                        <a class="btn btn-dark" href="{{ path('position_new') }}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    <div class="card-body">
                        {% if positions | length > 0 %}
                            <div class="row">
                                {% for position in positions %}

                                    <div class="col-sm-12 col-md-6 col-lg-4 pt-2">
                                        <div class="card" style="border: 1px solid rgba(37, 106, 154, 1);">
                                            <div class="card-header">
                                               <strong>{{ position.name }} </strong>
                                                <br/>
                                                {% if position.activeRight  %}
                                                    <span style="font-size: 22px;">{{ position.action }}</span>
                                                    <br/>
                                                    <span style="font-size: 20px;"> {{ position.activeLeft }} / {{ position.activeRight }} at {{ position.type  }} - {{ position.price }}</span>
                                                {% else %}
                                                    <span style="font-size: 22px;">{{ position.action }}</span>
                                                    <br/>
                                                    <span style="font-size: 20px;">{{ position.activeLeft }}  at {{ position.type  }} - {{ position.price }}</span>
                                                {% endif %}

                                            </div>
                                            <div class="card-body">
                                                {% if position.tp1 != null %}
                                                    <p>✅ TP1: {{ position.tp1 }}</p>
                                                {% endif %}
                                                {% if position.tp2 != null %}
                                                    <p>✅ TP2: {{ position.tp2 }}</p>
                                                {% endif %}
                                                {% if position.tp3 != null %}
                                                    <p>✅ TP3: {{ position.tp3 }}</p>
                                                {% endif %}
                                                {% if position.tp4 != null %}
                                                    <p>✅ TP4: {{ position.tp4 }}</p>
                                                {% endif %}
                                                <p>❌  SL: {{ position.stopLoss }}</p>
                                            </div>
                                            <div class="card-footer">
                                                <p>Published at {{ position.publishedAt | date('d-M-Y') }}</p>
                                                <a class="btn btn-info" href="{{ path('position_edit',{'id': position.id}) }}"><i class="fas fa-pen"></i> Modifier</a>
                                                <form method="post" action="{{ path('position_delete', {'id': position.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ position.id) }}">
                                                    <button class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>

                        {% else %}
                            <p>No position</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
