<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url"                content="https://www.capital-invesment.fr" />
    <meta property="og:type"               content="application web" />
    <meta property="og:title"              content="CAPITAL INVESTMENT" />
    <meta property="og:description"        content="On vous vend pas du rêve, mais on vous évite les cauchemards." />
    <meta property="og:image"              content="https://www.capital-invesment.fr/theme/assets/mes_images/CAPITAL_INVESTMENT_HIGH.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('theme/assets/mes_images/CAPITAL_INVESTMENT_HIGH.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('theme/assets/mes_images/CAPITAL_INVESTMENT_HIGH.png') }}">
    <title>
        Capital Investment
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="{{ asset('theme/assets/css/nucleo-icons.css') }}" rel="stylesheet" />
    <link href="{{ asset('theme/assets/css/nucleo-svg.css') }}" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="{{ asset('theme/assets/css/nucleo-svg.css') }}" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="{{ asset('theme/assets/css/soft-ui-dashboard.css?v=1.0.4') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('theme/assets/css/style_perso.css') }}">
</head>