<div class="modal fade" id="modal-form-total-actif" tabindex="-1" role="dialog" aria-labelledby="modal-form-earning" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-info text-gradient"></h3>
                        <p class="mb-0">Total Asset</p>
                    </div>
                    <div class="card-body">
                        {{ form_start(formTotalActif) }}

                        <div class="mb-3">
                            {{ form_label(formTotalActif.totalActif) }}
                            {{ form_widget(formTotalActif.totalActif) }}
                            <div class="form-error" id="modal-form-total-actif">
                                {{ form_errors(formTotalActif.totalActif) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info" id="buttonEditTotalActif">Edit</button>
                        <button class="btn btn-info" type="button" disabled style="display: none;color: white;" id="buttonSpinnerTotalActif">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="color: white;"></span>
                            Loading...
                        </button>
                        {{ form_end(formTotalActif) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const buttonEditTotalActif = document.getElementById('buttonEditTotalActif');
    const buttonSpinnerTotalActif = document.getElementById('buttonSpinnerTotalActif');

    if(buttonEditTotalActif)
    {
        buttonEditTotalActif.addEventListener('click', () => {
            buttonEditTotalActif.style.display = 'none';
            buttonSpinnerTotalActif.style.display = 'initial';
        });
    }
</script>