<div class="modal fade" id="modal-form-earning" tabindex="-1" role="dialog" aria-labelledby="modal-form-earning" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-info text-gradient">Monthly Earning</h3>
                        <p class="mb-0">Enter an amount</p>
                    </div>
                    <div class="card-body">
                        {{ form_start(formSimulateEarning) }}


                        <div class="mb-3">
                            {{ form_label(formSimulateEarning.month) }}
                            {{ form_widget(formSimulateEarning.month) }}
                            <div class="form-error" id="modal-form-earning">
                                {{ form_errors(formSimulateEarning.month) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(formSimulateEarning.year) }}
                            {{ form_widget(formSimulateEarning.year) }}
                            <div class="form-error" id="modal-form-earning">
                                {{ form_errors(formSimulateEarning.year) }}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info" id="buttonEditEarning">Simulate Earning</button>
                        <button class="btn btn-info" type="button" disabled style="display: none;color: white;" id="buttonSpinnerEarning">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="color: white;"></span>
                            Loading...
                        </button>
                        {{ form_end(formSimulateEarning) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const buttonEditEarning = document.getElementById('buttonEditEarning');
    const buttonSpinnerEarning = document.getElementById('buttonSpinnerEarning');

    if(buttonEditEarning)
    {
        buttonEditEarning.addEventListener('click', () => {
            buttonEditEarning.style.display = 'none';
            buttonSpinnerEarning.style.display = 'initial';
        });
    }
</script>