<div class="modal fade" id="modal-form-total-interest-recovery-found" tabindex="-1" role="dialog" aria-labelledby="modal-form-earning" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-info text-gradient"></h3>
                        <p class="mb-0">Personal Recovery Found</p>
                    </div>
                    <div class="card-body">
                        {{ form_start(formInterestRecoveryFound) }}

                        <div class="mb-3">
                            {{ form_label(formInterestRecoveryFound.interestRecoveryFound) }}
                            {{ form_widget(formInterestRecoveryFound.interestRecoveryFound) }}
                            <div class="form-error" id="modal-form-total-interest-recovery-found">
                                {{ form_errors(formInterestRecoveryFound.interestRecoveryFound) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info" id="buttonEditRecoveryFound">Edit</button>
                        <button class="btn btn-info" type="button" disabled style="display: none;color: white;" id="buttonSpinnerRecoveryFound">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="color: white;"></span>
                            Loading...
                        </button>
                        {{ form_end(formInterestRecoveryFound) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const buttonEditRecoveryFound = document.getElementById('buttonEditRecoveryFound');
    const buttonSpinnerRecoveryFound = document.getElementById('buttonSpinnerRecoveryFound');

    if(buttonEditRecoveryFound)
    {
        buttonEditRecoveryFound.addEventListener('click', () => {
            buttonEditRecoveryFound.style.display = 'none';
            buttonSpinnerRecoveryFound.style.display = 'initial';
        });
    }
</script>