<div class="modal fade" id="modal-form-currency" tabindex="-1" role="dialog" aria-labelledby="modal-form-earning" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-info text-gradient"></h3>
                        <p class="mb-0">Currency</p>
                    </div>
                    <div class="card-body">
                        {{ form_start(formCurrency,{'attr': {'action': path('admin_investor_profile_handle_wallet_edit_currency',{ 'id' : wallet.id }) } } ) }}

                        <div class="mb-3">
                            {{ form_label(formCurrency.currency) }}
                            {{ form_widget(formCurrency.currency) }}
                            <div class="form-error" id="modal-form-currency">
                                {{ form_errors(formCurrency.currency) }}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info" id="buttonEditCurrency">Edit</button>
                        <button class="btn btn-info" type="button" disabled style="display: none;color: white;" id="buttonSpinnerCurrency">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="color: white;"></span>
                            Loading...
                        </button>
                        {{ form_end(formCurrency) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const buttonEditCurrency = document.getElementById('buttonEditCurrency');
    const buttonSpinnerCurrency = document.getElementById('buttonSpinnerCurrency');


    if(buttonEditCurrency)
    {
        buttonEditCurrency.addEventListener('click', () => {
            buttonEditCurrency.style.display = 'none';
            buttonSpinnerCurrency.style.display = 'initial';
        });
    }
</script>