<div class="modal fade" id="modal-form-interest-type" tabindex="-1" role="dialog" aria-labelledby="modal-form-interest-type" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-info text-gradient">Edit Interest Type</h3>
                        <p class="mb-0">Choose the interest system</p>
                    </div>
                    <div class="card-body">
                        {{ form_start(formEditInterest) }}

                        <div class="mb-3">
                            {{ form_label(formEditInterest.interestType) }}
                            {{ form_widget(formEditInterest.interestType) }}
                            <div class="form-error" id="modal-form-interest-type">
                                {{ form_errors(formEditInterest.interestType) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info" id="buttonEditInterestType">Edit</button>
                        <button class="btn btn-info" type="button" disabled style="display: none;color: white;" id="buttonSpinnerInterestType">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="color: white;"></span>
                            Loading...
                        </button>
                        {{ form_end(formEditInterest) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const buttonEditInterestType = document.getElementById('buttonEditInterestType');
    const buttonSpinnerInterestType = document.getElementById('buttonSpinnerInterestType');

    if(buttonEditInterestType)
    {
        buttonEditInterestType.addEventListener('click', () => {
            buttonEditInterestType.style.display = 'none';
            buttonSpinnerInterestType.style.display = 'initial';
        });
    }
</script>