<div class="modal fade" id="modal-form-bonus" tabindex="-1" role="dialog" aria-labelledby="modal-form-bonus" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-info text-gradient">Bonus Amount</h3>
                        <p class="mb-0">Enter an amount</p>
                    </div>
                    <div class="card-body">
                        {{ form_start(formBonusAmount,{'attr': {'action': path('admin_investor_profile_handle_wallet_edit_bonus',{ 'id' : wallet.id }) } } ) }}


                        <div class="mb-3">
                            {{ form_label(formBonusAmount.month) }}
                            {{ form_widget(formBonusAmount.month) }}
                            <div class="form-error" id="modal-form-bonus">
                                {{ form_errors(formBonusAmount.month) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(formBonusAmount.year) }}
                            {{ form_widget(formBonusAmount.year) }}
                            <div class="form-error" id="modal-form-bonus">
                                {{ form_errors(formBonusAmount.year) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_label(formBonusAmount.amount) }}
                            {{ form_widget(formBonusAmount.amount) }}
                            <div class="form-error" id="modal-form-bonus">
                                {{ form_errors(formBonusAmount.amount) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info" id="buttonEditDeposit">Edit</button>
                        <button class="btn btn-info" type="button" disabled style="display: none;color: white;" id="buttonSpinnerDeposit">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="color: white;"></span>
                            Loading...
                        </button>
                        {{ form_end(formBonusAmount) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const buttonEditDeposit = document.getElementById('buttonEditDeposit');
    const buttonSpinnerDeposit = document.getElementById('buttonSpinnerDeposit');

    if(buttonEditDeposit)
    {
        buttonEditDeposit.addEventListener('click', () => {
            buttonEditDeposit.style.display = 'none';
            buttonSpinnerDeposit.style.display = 'initial';
        });
    }
</script>