<div class="modal fade" id="modal-form-status" tabindex="-1" role="dialog" aria-labelledby="modal-form-status" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-info text-gradient">Edit Wallet Status</h3>
                        <p class="mb-0">Select a status in the list</p>
                    </div>
                    <div class="card-body">
                        {{ form_start(formEditStatus) }}

                        <div class="mb-3">
                            {{ form_label(formEditStatus.status) }}
                            {{ form_widget(formEditStatus.status) }}
                            <div class="form-error" id="modal-form-status">
                                {{ form_errors(formEditStatus.status) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info" id="buttonEditStatus">Edit</button>
                        <button class="btn btn-info" type="button" disabled style="display: none;color: white;" id="buttonSpinnerStatus">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="color: white;"></span>
                            Loading...
                        </button>
                        {{ form_end(formEditStatus) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const buttonEditStatus = document.getElementById('buttonEditStatus');
    const buttonSpinnerStatus = document.getElementById('buttonSpinnerStatus');

    if(buttonEditStatus)
    {
        buttonEditStatus.addEventListener('click', () => {
            buttonEditStatus.style.display = 'none';
            buttonSpinnerStatus.style.display = 'initial';
        });
    }
</script>