<div class="modal fade" id="modal-form-interest-rates" tabindex="-1" role="dialog" aria-labelledby="modal-form-interest-rates" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-info text-gradient">Edit Interest Rates</h3>
                        <p class="mb-0">Enter the new interest rates</p>
                    </div>
                    <div class="card-body">
                        {{ form_start(formEditInterestRateType,{'attr': {'action': path('admin_investor_profile_handle_wallet_edit_interest_rates',{ 'id' : wallet.id }) } } ) }}

                        <div class="mb-3">
                            {{ form_label(formEditInterestRateType.interestRates) }}
                            {{ form_widget(formEditInterestRateType.interestRates) }}
                            <div class="form-error" id="modal-form-interest-rates">
                                {{ form_errors(formEditInterestRateType.interestRates) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info" id="buttonEditInterestRate">Edit</button>
                        <button class="btn btn-info" type="button" disabled style="display: none;color: white;" id="buttonSpinnerInterestRate">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="color: white;"></span>
                            Loading...
                        </button>
                        {{ form_end(formEditInterestRateType) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const buttonEditInterestRate = document.getElementById('buttonEditInterestRate');
    const buttonSpinnerInterestRate = document.getElementById('buttonSpinnerInterestRate');

    if(buttonEditInterestRate)
    {
        buttonEditInterestRate.addEventListener('click', () => {
            buttonEditInterestRate.style.display = 'none';
            buttonSpinnerInterestRate.style.display = 'initial';
        });
    }
</script>