<!DOCTYPE html>

<title>Reporting</title>

{% block body %}
    <h1>Reporting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reporting.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reporting.date }}</td>
            </tr>
            <tr>
                <th>ReportingName</th>
                <td>{{ reporting.reportingName }}</td>
            </tr>
            <tr>
                <th>Wallet</th>
                <td>{{ reporting.wallet }}</td>
            </tr>
            <tr>
                <th>Interets</th>
                <td>{{ reporting.interets }}</td>
            </tr>
            <tr>
                <th>InteretsComposé</th>
                <td>{{ reporting.interetsComposé }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reporting_template_index') }}">back to list</a>

    <a href="{{ path('reporting_template_edit', {'id': reporting.id}) }}">edit</a>

    {{ include('reporting_template/_delete_form.html.twig') }}
{% endblock %}
