<div class="col-12">
    <div class="card h-100">
        <div class="card-header pb-0 p-3 d-flex align-items-center justify-content-between">
            <h6 class="mb-0">Action</h6>
            <a class="btn btn-dark" href="{{ path('admin_investor_profile_create_new_wallet',{'id': investor.id}) }}"><i class="fas fa-plus-circle"></i> Add a new wallet</a>
        </div>
        <div class="card-body p-3">
            {% for w in wallets %}
                <a class="btn btn-info" href="{{ path('admin_investor_profile_handle_wallet',{'id': investor.id,'idWallet' : w.id }) }}"> Consulter Wallet : {{ w.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>


<div class="col-12 mt-4">
    <div class="card h-100">
        <div class="card-header pb-0 p-3 d-flex align-items-center justify-content-between">
            <h6 class="mb-0">Wallet Name</h6>
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-form-delete">
                DELETE
            </a>
        </div>
        <div class="card-body p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder">
                {{ wallet.name }}
            </h6>
        </div>
    </div>
</div>

<div class="col-12 col-md-6  mt-4">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            <h6 class="mb-0">Wallet Initial Amount</h6>
        </div>
        <div class="card-body p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder">
                {% if wallet.currency is same as "€" %}
                    {{ wallet.initialAmount | priceInEuros }}
                {% elseif wallet.currency is same as "$" %}
                    {{ wallet.initialAmount | priceInDollar }}
                {% elseif wallet.currency is same as "CHF" %}
                    {{ wallet.initialAmount | priceInFranc }}
                {% endif %}
            </h6>
        </div>
    </div>
</div>
<div class="col-12 col-md-6  mt-4">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            <h6 class="mb-0">Wallet Actual Amount</h6>
        </div>
        <div class="card-body p-3">

            <h6 class="text-uppercase text-body text-xs font-weight-bolder">
                {% if wallet.currency is same as "€" %}
                    {{ wallet.actualAmount | priceInEuros }}
                {% elseif wallet.currency is same as "$" %}
                    {{ wallet.actualAmount | priceInDollar }}
                {% elseif wallet.currency is same as "CHF" %}
                    {{ wallet.actualAmount | priceInFranc }}
                {% endif %}
            </h6>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-xl-4 mt-4">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                <h6 class="mb-0">Currency <a class="openModal" type="button" data-bs-toggle="modal" data-bs-target="#modal-form-currency" data-js-button-open="modal-form-currency"><i class="fas fa-pen"></i></a></h6>
            {% else %}
                <h6 class="mb-0">Currency</h6>
            {% endif %}
        </div>
        <div class="card-body p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder">{{ wallet.currency }}</h6>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-xl-4 mt-4">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                <h6 class="mb-0">Personal Recovery Found <a class="openModal" type="button" data-bs-toggle="modal" data-bs-target="#modal-form-total-interest-recovery-found" data-js-button-open="modal-form-total-interest-recovery-found"><i class="fas fa-pen"></i></a></h6>
            {% else %}
                <h6 class="mb-0">Personal Recovery Found</h6>
            {% endif %}
        </div>
        <div class="card-body p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder">
                {% if wallet.currency is same as "€" %}
                    {{ wallet.interestRecoveryFound | priceInEuros }}
                {% elseif wallet.currency is same as "$" %}
                    {{ wallet.interestRecoveryFound | priceInDollar }}
                {% elseif wallet.currency is same as "CHF" %}
                    {{ wallet.interestRecoveryFound | priceInFranc }}
                {% endif %}
            </h6>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-xl-4 mt-4">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                <h6 class="mb-0">Total Asset <a type="button" class="openModal"  data-bs-toggle="modal" data-bs-target="#modal-form-total-actif" data-js-button-open="modal-form-total-actif"><i class="fas fa-pen"></i></a></h6>
            {% else %}
                <h6 class="mb-0">Total Asset</h6>
            {% endif %}
        </div>
        <div class="card-body p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder">
                {% if wallet.currency is same as "€" %}
                    {{ wallet.totalActif | priceInEuros }}
                {% elseif wallet.currency is same as "$" %}
                    {{ wallet.totalActif | priceInDollar }}
                {% elseif wallet.currency is same as "CHF" %}
                    {{ wallet.totalActif | priceInFranc }}
                {% endif %}
            </h6>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-xl-4 mt-4">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                        <h6 class="mb-0">Status <a type="button" data-bs-toggle="modal" class="openModal" data-bs-target="#modal-form-status" data-js-button-open="modal-form-status"><i class="fas fa-pen"></i></a></h6>
                    {% else %}
                        <h6 class="mb-0">Status</h6>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="card-body p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder">{{ wallet.status }}</h6>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-xl-4 mt-4">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                        <h6 class="mb-0">Interest Rates <a type="button" data-bs-toggle="modal" class="openModal" data-bs-target="#modal-form-interest-rates" data-js-button-open="modal-form-interest-rates"><i class="fas fa-pen"></i></a></h6>
                    {% else %}
                        <h6 class="mb-0">Interest Rates</h6>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="card-body p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder">{{ wallet.interestRates }} %</h6>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 col-xl-4 mt-4">
    <div class="card h-100">
        <div class="card-header pb-0 p-3">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                        <h6 class="mb-0">Interest Type <a type="button" data-bs-toggle="modal" class="openModal" data-bs-target="#modal-form-interest-type" data-js-button-open="modal-form-interest-type"><i class="fas fa-pen"></i></a></h6>
                    {% else %}
                        <h6 class="mb-0">Interest Type</h6>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="card-body p-3">
            <h6 class="text-uppercase text-body text-xs font-weight-bolder">{{ wallet.interestType }}</h6>
        </div>
    </div>
</div>