<div class="table-responsive">
    <table class="table table-flush" id="datatable-basic">
        <thead class="thead-light">
        <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Wallet</th>
        </tr>
        </thead>
        <tbody>
        {% for movement in movements %}
            <tr>
                <td class="text-sm font-weight-normal">{{ movement.createdAt | date('M-d-Y') }}</td>
                <td class="text-sm font-weight-normal">
                    {% if movement.cashIn is not same as null %}
                        <span style="color: rgb(37, 106, 154);">DEPOSIT</span>
                    {% elseif movement.cashOut is not same as null %}
                        <span class="text-danger">WITHDRAWAL</span>
                    {% elseif movement.interestEarn is not same as null %}
                        <span style="color: rgb(62, 182, 160);">EARNING</span>
                    {% elseif movement.bonus is not same as null %}
                        <span class="text-warning">BONUS</span>
                    {% endif %}
                </td>
                <td class="text-sm font-weight-normal">
                    {% if movement.cashIn is not same as null %}
                        <span style="color: rgb(37, 106, 154);"><i class="fas fa-plus-circle"></i>
                                                                {% if wallet.currency is same as "€" %}
                                                                    {{ movement.cashIn.amount | priceInEuros }}
                                                                {% elseif wallet.currency is same as "$" %}
                                                                    {{ movement.cashIn.amount | priceInDollar }}
                                                                {% elseif wallet.currency is same as "CHF" %}
                                                                    {{ movement.cashIn.amount | priceInFranc }}
                                                                {% endif %}
                                                            </span>
                    {% elseif movement.cashOut is not same as null %}
                        <span class="text-danger"><i class="fas fa-minus-circle"></i>
                                                                {% if wallet.currency is same as "€" %}
                                                                    {{ movement.cashOut.amount | priceInEuros }}
                                                                {% elseif wallet.currency is same as "$" %}
                                                                    {{ movement.cashOut.amount | priceInDollar }}
                                                                {% elseif wallet.currency is same as "CHF" %}
                                                                    {{ movement.cashOut.amount | priceInFranc }}
                                                                {% endif %}
                                                            </span>
                    {% elseif movement.interestEarn is not same as null %}
                        <span style="color: rgb(62, 182, 160);"><i class="fas fa-plus-circle"></i>
                                                                {% if wallet.currency is same as "€" %}
                                                                    {{ movement.interestEarn.amount | priceInEuros }}
                                                                {% elseif wallet.currency is same as "$" %}
                                                                    {{ movement.interestEarn.amount | priceInDollar }}
                                                                {% elseif wallet.currency is same as "CHF" %}
                                                                    {{ movement.interestEarn.amount | priceInFranc }}
                                                                {% endif %}
                                                            </span>
                    {% elseif movement.bonus is not same as null %}
                        <span class="text-warning"><i class="fas fa-plus-circle"></i>
                                                                {% if wallet.currency is same as "€" %}
                                                                    {{ movement.bonus.amount | priceInEuros }}
                                                                {% elseif wallet.currency is same as "$" %}
                                                                    {{ movement.bonus.amount | priceInDollar }}
                                                                {% elseif wallet.currency is same as "CHF" %}
                                                                    {{ movement.bonus.amount | priceInFranc }}
                                                                {% endif %}
                                                            </span>
                    {% endif %}
                </td>
                <td class="text-sm font-weight-normal"><strong>

                        {% if wallet.currency is same as "€" %}
                            {{ movement.walletAmountAfterMovement | priceInEuros }}
                        {% elseif wallet.currency is same as "$" %}
                            {{ movement.walletAmountAfterMovement | priceInDollar }}
                        {% elseif wallet.currency is same as "CHF" %}
                            {{ movement.walletAmountAfterMovement | priceInFranc }}
                        {% endif %}
                    </strong>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>