{% extends "admin/base_admin.html.twig" %}

{% block body %}
    <div class="container-fluid py-4">

        <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{{ asset('theme/assets/img/curved-images/curved14.jpg') }}'); background-position-y: 50%;">
            <span class="mask bg-gradient-info opacity-6"></span>
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
            <div class="row gx-4">
                <div class="col-auto">
                    <div class="avatar avatar-xl position-relative">
                        <img src="{{asset('theme/assets/mes_images/logo_capital_investment.svg')}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                    </div>
                </div>
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h5 class="mb-1">
                            {{ investor.user.name }}
                        </h5>
                        <p class="mb-0 font-weight-bold text-sm">
                            Investor
                        </p>
                    </div>
                </div>
                {% include "admin/shared/_topbar_investor_profile.html.twig" %}
            </div>
        </div>

    </div>
    <div class="container-fluid py-4">
        <div class="row mt-3">
            {% include "shared/_messages_flash.html.twig" %}
            <div class="col-12 col-md-6 col-xl-6">
                <div class="card h-100">
                    <div class="card-header pb-0 p-3">
                        <h6 class="mb-0">Platform Settings</h6>
                    </div>
                    <div class="card-body p-3">
                        <h6 class="text-uppercase text-body text-xs font-weight-bolder">Status Account</h6>
                        {% if investor.status is same as "ACTIVE" %}
                            <p class="text-sm">
                                <i class="fas fa-check-circle text-success" ></i> Account Available
                            </p>
                            <h6 class="text-uppercase text-body text-xs font-weight-bolder">Disable Account</h6>
                            <ul class="list-group">
                                <a class="btn btn-danger" href="{{ path('admin_investor_edit_status_ghost',{'id': investor.id}) }}">Activate Mode Fantom</a>
                            </ul>
                        {% else %}
                            <p class="text-sm">
                                <i class="fas fa-times text-danger" ></i> Account Ghosted
                            </p>
                            <h6 class="text-uppercase text-body text-xs font-weight-bolder">Reactivate Account</h6>
                            <ul class="list-group">
                                <a class="btn btn-success" href="{{ path('admin_investor_edit_status_reactivate',{'id': investor.id}) }}">Reactivate Account</a>
                            </ul>

                        {% endif %}
                        <p class="text-sm">
                            <strong class="text-dark">Help:</strong> What is mode fantom ?
                        </p>
                        <p class="text-sm">
                            When you activate the mode fantom, the investor will not be able to connect to the Capital Investment Platform anymore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-6 mt-md-0 mt-4">
                <div class="card h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-md-8 d-flex align-items-center">
                                <h6 class="mb-0">Profile Information</h6>
                            </div>
                            <div class="col-md-4 text-end">
                                <a href="javascript:;">
                                    <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <ul class="list-group">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Created Date:</strong> &nbsp; {{ investor.createdAt | date('d-M-Y') }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Full Name:</strong> &nbsp; {{ investor.user.name }}</li>
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Phone:</strong> &nbsp; {{ investor.user.telephone }}</li>
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; {{ investor.user.email }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}