<!DOCTYPE html>

<title>ReportingDetails index</title>

{% block body %}
    <h1>ReportingDetails index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>InitialWallet</th>
                <th>Interest</th>
                <th>CompoundInterest</th>
                <th>ActualWallet</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reporting_detail in reporting_details %}
            <tr>
                <td>{{ reporting_detail.id }}</td>
                <td>{{ reporting_detail.date }}</td>
                <td>{{ reporting_detail.initialWallet }}</td>
                <td>{{ reporting_detail.interest }}</td>
                <td>{{ reporting_detail.compoundInterest }}</td>
                <td>{{ reporting_detail.actualWallet }}</td>
                <td>
                    <a href="{{ path('reporting_details_show', {'id': reporting_detail.id}) }}">show</a>
                    <a href="{{ path('reporting_details_edit', {'id': reporting_detail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reporting_details_new') }}">Create new</a>
{% endblock %}
