<!DOCTYPE html>

<title>ReportingDetails</title>

{% block body %}
    <h1>ReportingDetails</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reporting_detail.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reporting_detail.date }}</td>
            </tr>
            <tr>
                <th>InitialWallet</th>
                <td>{{ reporting_detail.initialWallet }}</td>
            </tr>
            <tr>
                <th>Interest</th>
                <td>{{ reporting_detail.interest }}</td>
            </tr>
            <tr>
                <th>CompoundInterest</th>
                <td>{{ reporting_detail.compoundInterest }}</td>
            </tr>
            <tr>
                <th>ActualWallet</th>
                <td>{{ reporting_detail.actualWallet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reporting_details_index') }}">back to list</a>

    <a href="{{ path('reporting_details_edit', {'id': reporting_detail.id}) }}">edit</a>

    {{ include('reporting_details/_delete_form.html.twig') }}
{% endblock %}
